@model VirtualStore.Web.Core.ViewModels.LoginViewModel;

@{
    string returnUrl = Context.Request.Query.ContainsKey("returnUrl") ?
                        Context.Request.Query["returnUrl"].ToString() : string.Empty;

}

<h1 class="text-primary">Login de Usuàrio</h1>
<hr>

<div asp-validation-summary="ModelOnly" class="validation-summary text-danger mb-3"></div>

<div class="row">
    <form asp-action="Login" class="col-4 mb-3">

        <input type="hidden" name="ReturnUrl" id="ReturnUrl" value="@returnUrl">

        <div class="form-group mb-3">
            <label asp-for="@Model.Username"></label><br>
            <input asp-for="@Model.Username" class="form-control" autofocus autocomplete="off">
            <span asp-validation-for="@Model.Username" class="text-denger"></span>
        </div>

        <div class="w-100"></div>

        <div class="form-group mb-3">
            <label asp-for="@Model.Password"></label><br>
            <input asp-for="@Model.Password" class="form-control" autofocus autocomplete="off">
            <span asp-validation-for="@Model.Password" class="text-denger"></span>
        </div>

        <div class="w-100"></div>

        <div class="form-check">
            <input asp-for="@Model.Remember" class="form-check-input">
            <label asp-for="@Model.Remember" class="form-check-label"></label><br>
            <span asp-validation-for="@Model.Remember" class="text-denger"></span>
        </div>

        <div class="w-100"></div>

        <div class="mt-3">
            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Voltar</a>
            <button class="btn btn-outline-primary" type="submit">Entrar</button>
        </div>
    </form>
    <p>Forgot your password?<a asp-action="ForgotPassword">Click here</a>.</p>
    <p>Still not registered?<a asp-action="RegisterUser">Click here</a>.</p>
</div>